
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner .8s ease infinite;
}

.delete{
  color: red;
  cursor: pointer;
  display: block;

}

.users{
  box-shadow: 0 1px 5px darkslateblue;
  padding: 15px;
  display: flex;
}

.info{
  display: flex;
  flex-direction: column;
}

.link{
  color: darkslateblue;
  cursor: pointer;
  padding-left: 20px;
  text-transform: uppercase;
}

