<h2 routerLink="/" class="link">new registration</h2>
<div *ngIf="isFetching" class="spinner"></div>
<div *ngIf="!isFetching">
  <div *ngFor="let reg of regAll; let i = index" class="users">
    <div class="info">
      <h3>name:</h3>
      <p>{{reg.name}}</p>
      <h3>last name:</h3>
      <p>{{reg.lastname}}</p>
      <h3>second Name:</h3>
      <p>{{reg.secondName}}</p>
      <h3>job:</h3>
      <p>{{reg.job}}</p>
      <h3>skills:</h3><p>{{reg.skills}}</p>
      <h3>level:</h3><p>{{reg.level}}</p>
      <h3>phone:</h3>
      <p>{{reg.phone}}</p>
      <h3>gender:</h3>
      <p>{{reg.gen}}</p>
      <h3>size:</h3>
      <p>{{reg.size}}</p>
      <h3>comment:</h3>
      <p>{{reg.comment}}</p>
    </div>
    <p class="delete"
       (click)="service.deleteUser(reg.id)">
      <span *ngIf="isFetchingDelete" class="spinner"></span>
      <span *ngIf="!isFetchingDelete">❌</span>
    </p>
  </div>

</div>
