<h2 routerLink="user" class="link">all user registration</h2>
<div class="container">
  <div class="col1">
    <h1 class="text">registration</h1>

  </div>

  <div *ngIf="preloader" class="loader"></div>

  <div class="col2" *ngIf="!preloader">
    <form (ngSubmit)="sendRegist()" [formGroup]="formGroupReg">
      <small
        *ngIf="fieldError('name', 'required')"
        class="invalid-form-text"
      >
        введите имя</small>
      <br>
      <input
        type="text"
        formControlName="name"
        id="name"
      >
      <label for="name">Name:</label>

      <br>
      <small
        *ngIf="fieldError('lastname', 'required')"
        class="invalid-form-text"
      >
        введите фамилию</small>
      <br>
      <input
        type="text"
        formControlName="lastname"
        id="lastname"
      >
      <label for="Lastname">Last name:</label>

      <br>
      <small
        *ngIf="fieldError('secondName', 'required')"
        class="invalid-form-text"
      >
        введите отчество</small>
      <br>
      <input
        type="text"
        formControlName="secondName"
        id="secondName"
      >
      <label for="secondName">Second name:</label>

      <br>
      <small
        *ngIf="fieldError('phone', 'required')"
        class="invalid-form-text"
      >
        введите телефон</small>
      <small
        *ngIf="fieldError('phone', 'phone')"
        class="invalid-form-text"
      >
        неверный формат</small>
      <br>
      <input
        type="text"
        formControlName="phone"
        id="phone"
        appPhone
      >
      <label for="phone">Your phone:</label>
      <p class="format">format: +996 555 55-55-55</p>

      <br>
      <small
        *ngIf="fieldError('job', 'required')"
        class="invalid-form-text"
      >
        введите место работы</small>
      <br>
      <input
        type="text"
        formControlName="job"
        id="job"
      >
      <label for="job">Your job:</label>

      <br>
      <button
        type="button"
        (click)="addSkill()"
      >
        Add Skill
      </button>
      <div class="cont">

        <br>
        <div formArrayName="skills" class="skill">
          <div *ngFor="let skillControl of getSkill(); let i = index">
            <select
              [formControlName]="i"
              value="skill"
              id="skill"
              formControlName="skill"
            >
              <option>JavaScript</option>
              <option>React</option>
              <option>Angular</option>
              <option>Vue</option>
            </select>
            <br>
          </div>
        </div>

        <div formArrayName="level" class="level">
          <div *ngFor="let levelControl of getLevel(); let i = index">
            <select
              [formControlName]="i"
              value="level"
              id="level"
              formControlName="level"
            >
              <option>Beginner</option>
              <option>Intermediate</option>
              <option>Advanced</option>
              <option>Expert</option>
            </select>
            <br>
          </div>
        </div>
      </div>
      <label for="skill">Your skill & level:</label>
      <br>
      <input
        type="radio"
        formControlName="gen"
        id="man"
        value="man"
      >
      <label for="man">Man:</label>

      <br>
      <input
        type="radio"
        formControlName="gen"
        id="woman"
        value="woman"
      >
      <label for="woman">Woman:</label>

      <br>
      <small
        *ngIf="fieldError('size', 'required')"
        class="invalid-form-text"
      >
        выберете размер</small>
      <label for="size">
        Choose size:</label>
      <select
        value="size"
        id="size"
        formControlName="size"
      >
        <option>S</option>
        <option>M</option>
        <option>L</option>
        <option>XL</option>
      </select>

      <br>
      <small
        *ngIf="fieldError('comment', 'maxlength')"
        class="invalid-form-text"
      >
        можно ввести только 300 символов</small>
      <small
        *ngIf="fieldError('comment', 'required')"
        class="invalid-form-text"
      >
        Введите комментарий</small>
      <br>
      <textarea
        cols="20"
        rows="5"
        formControlName="comment"
        id="comment"
      >
    </textarea>
      <label for="comment">Your comment:</label>

      <br>

      <button
        type="submit"
        class="btn"
      >
        registration
      </button>
    </form>
  </div>

</div>
