.container{
  width: 100%;
  display: flex;
  padding: 0;
}

label{
  display: flex;
  padding: 5px 0 3px 0;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.invalid-form-text {
  color: red;
}

.col1{
  background: darkslateblue;
  width: 40%;
  padding-top: 400px;
}

.col2{
  background: darkslateblue;
  color: white;
  width: 60%;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.text{
  position: fixed;
  font-family: sans-serif;
  font-size: 100px;
  transform: rotate(270deg);
  margin: 0;
  color: white;
  text-transform: uppercase;
}

.btn{
  background: darkslateblue;
  color: white;
  border-radius: 5px;
  padding: 15px;
  text-transform: uppercase;
}

.btn:hover{
  background: dodgerblue;
  color: black;
}

.btn:disabled{
  background: gainsboro;
  color: black;
}

.format{
  font-size: 15px;
  color: black;
  margin: 0;
  padding: 0;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.cont{
  display: flex;
}

.link{
  color: darkslateblue;
  cursor: pointer;
  padding-left: 20px;
  text-transform: uppercase;
}
